<!DOCTYPE html>
<html>

<head>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/mentee-stylesheet.css}" />
	<meta charset="ISO-8859-1">
	<title>Mentee</title>
</head>

<body>

	<div class="header">

		<div class="left-section">
			<h3>Mentee Dashboard</h3>
			<h5>Welcome, <span th:text="${firstName}"></span>!</h5>
		</div>
		<div class="right-section">
			<div class="user-menu">
				<div class="dropdown">
					<div class="dropdown-icon" id="profileIcon"
						th:text="${#strings.substring(firstName, 0, 1).toUpperCase()}" data-bs-toggle="modal"
						data-bs-target="#myProfileModal"></div>
					<div class="dropdown-content" id="profileDropdown">
						<a href="#" id="profileBtn">My Profile</a>
						<a th:href="@{/logout}" class="active">Logout</a>
					</div>
				</div>
			</div>
		</div>
	</div>


	<div id="menteeProfile" class="profile">
		<!--Profile information -->
		<div class="profile-info" style="padding: 10px; width: 20%;">
			<!--close button-->
			<button class="close btn btn-sm btn-light" style="position: absolute; top: 0; right: 0;">&times;</button>

			<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8AJM9wkP__z2M-hovSAWcTb_9XJ6smy3NKw&usqp=CAU"
				alt="Profile Pic">
			<p th:text="'Name: ' + ${mentee.firstName} +' '+ ${mentee.lastName}"></p>
			<p th:text="'Email: ' + ${mentee.email}"></p>
			<p th:text="'Designation: ' + ${mentee.designation}"></p>

		</div>
	</div>


	<div id="otherMenteeProfile" class="profile">
		<!--Profile information -->
		<div class="profile-info" style="padding: 10px; width: 20%;">
			<!--close button-->
			<button class="close btn btn-sm btn-light" style="position: absolute; top: 0; right: 0;"
				onclick="closeOtherMenteeProfile()">&times;</button>
			<img id="otherMenteeProfilePic" alt="Profile Pic">
			<p id="otherMenteeName"></p>
			<p id="otherMenteeEmail"></p>
			<p id="otherMenteeDesignation"></p>

		</div>
	</div>

	<div id="mySidebar" class="sidebar">
		<div class="mentees-list ">
			<h4>Other Mentees </h4>
			<a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>

			<ul style="list-style-type: none; padding: 0;">
				<!-- Loop through the mentees and display their names as links -->
				<li th:each="eachMentee : ${listOfMentees}">
					<!-- Mentee Link with ID Data Attribute -->
					<a href="#" class="mentee-link" th:data-firstname="${eachMentee.firstName}"
						th:data-lastname="${eachMentee.lastName}" th:data-email="${eachMentee.email}"
						th:data-designation="${eachMentee.designation}"
						onclick="showOtherMenteeProfile('${eachMentee.firstName}', '${eachMentee.lastName}', '${eachMentee.email}', '${eachMentee.designation}')">
						<!-- Mentee Profile Picture -->
						<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8AJM9wkP__z2M-hovSAWcTb_9XJ6smy3NKw&usqp=CAU"
							alt="Mentee Profile Pic">

						<span th:text="${eachMentee.firstName}+' '+${eachMentee.lastName}"></span>

					</a>
				</li>
			</ul>
		</div>
	</div>

	<div id="main">

		<button id="openBtn" class="openbtn" onclick="toggleNav()"> &#9776;</button>
		<div class="okr-container">
			<h4>Objectives:</h4>
			<div class="okrClass">
			<!-- Loop through the list of OKRs -->
			<div th:each="eachOkr, iterStat : ${listOfOkrs}">
				<h4>
					<span th:text="${iterStat.index + 1}"></span>.
					<span th:text="${eachOkr.objective}"></span>
				</h4> <!-- Display objective heading outside table -->
				<!-- Example table structure, replace it with dynamic content from your data -->
				<table class="okr-table">
					<thead>
						<tr>
							<th class="serialNo">Sl. No.</th>
							<th class="keyResults">Key Results</th>
							<th class="comments">Comments</th>
							<th class="ratings">Ratings</thclass="serialNo">
						</tr>
					</thead>
					<tbody>
						<!-- Loop through the key results -->
						<tr th:each="eachKey,keyStat : ${eachOkr.keyResults}">
							<td class="serialNo" th:text="${keyStat.index + 1}"></td> <!-- Serial number -->
							<td class="keyResults" th:text="${eachKey}"></td> <!-- Key Results -->
							<td class="comments"></td> <!-- Add comments data here -->
							<td class="ratings"></td> <!-- Add ratings data here -->
						</tr>
					</tbody>
				</table>
			</div>
			</div>
		</div>

	</div>


	<!--Footer -->
	<div class="footer">
		<p>&copy; 2023 Mentor Mate</p>
	</div>
	<script th:inline="javascript">
		var menteeProfile = document.getElementById("menteeProfile");
		var btn = document.getElementById("profileBtn");
		var closeProfileBtn = menteeProfile.querySelector(".close");
		var span = document.getElementsByClassName("close")[0];

		// When the user clicks the button, open the pop-up
		btn.onclick = function () {
			menteeProfile.style.display = "block";
		}
		// Add click event listener to the close button
		closeProfileBtn.addEventListener("click", function () {
			menteeProfile.style.display = "none";
		});

		span.onclick = function () {
			menteeProfile.style.display = "none";
		}

		// When the user clicks anywhere outside of the pop-up, close it
		window.onclick = function (event) {
			if (event.target == menteeProfile) {
				menteeProfile.style.display = "none";

			}
		}

		function toggleNav() {
			var sidebar = document.getElementById("mySidebar");
			var okrContainer = document.querySelector(".okr-container");

			if (sidebar.style.width === "250px") {
				sidebar.style.width = "0";
				okrContainer.style.marginLeft = "0";

			} else {
				sidebar.style.width = "250px";
				okrContainer.style.marginLeft = "250px";
			}
		}
		function openNav() {
			document.getElementById("mySidebar").style.width = "230px";
			document.getElementById("main").style.marginLeft = "230px";
		}

		function closeNav() {
			var sidebar = document.getElementById("mySidebar");
			var okrContainer = document.querySelector(".okr-container");
			var mainContent = document.getElementById("main");

			if (sidebar.style.width === "250px") {
				sidebar.style.width = "0px";
				okrContainer.style.marginLeft = "10px";
				mainContent.style.marginLeft = "10px";
			}

		}

		document.addEventListener('DOMContentLoaded', function () {

			var profileIcon = document.getElementById('profileIcon');
			var profileDropdown = document.getElementById('profileDropdown');

			// Add click event listener to the profile icon
			profileIcon.addEventListener('click', function (event) {
				// Toggle the display of the dropdown menu
				if (profileDropdown.style.display === 'block') {
					profileDropdown.style.display = 'none';
				} else {
					profileDropdown.style.display = 'block';
				}
			});

			// Close the dropdown when clicking outside of it
			window.onclick = function (event) {
				if (event.target !== profileIcon && event.target !== profileDropdown) {
					profileDropdown.style.display = 'none';
				}
			};


			var menteeLinks = document.querySelectorAll('.mentee-link');
			menteeLinks.forEach(function (link) {
				link.addEventListener('click', function (event) {
					event.preventDefault();
					var firstName = this.getAttribute('data-firstname');
					var lastName = this.getAttribute('data-lastname');
					var email = this.getAttribute('data-email');
					var designation = this.getAttribute('data-designation');
					showOtherMenteeProfile(firstName, lastName, email, designation);
				});
			});
		});

		function showOtherMenteeProfile(firstName, lastName, email, designation) {

			console.log("Name: " + firstName + ' ' + lastName);
			console.log("Email: " + email);
			console.log("Designation: " + designation);

			var otherMenteeProfile = document.getElementById("otherMenteeProfile");
			var otherMenteeProfilePic = document.getElementById("otherMenteeProfilePic");
			var otherMenteeName = document.getElementById("otherMenteeName");
			var otherMenteeEmail = document.getElementById("otherMenteeEmail");
			var otherMenteeDesignation = document.getElementById("otherMenteeDesignation");

			// Set profile information
			otherMenteeProfilePic.src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT8AJM9wkP__z2M-hovSAWcTb_9XJ6smy3NKw&usqp=CAU";
			otherMenteeName.innerText = "Name: " + firstName + ' ' + lastName;
			otherMenteeEmail.innerText = "Email: " + email;
			otherMenteeDesignation.innerText = "Designation: " + designation;

			// Display the profile
			otherMenteeProfile.style.display = "block";
		}

		function closeOtherMenteeProfile() {
			var otherMenteeProfile = document.getElementById("otherMenteeProfile");
			otherMenteeProfile.style.display = "none";
		}

	</script>


</body>

</html>
