<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<title>User Registration</title>
	<link rel="stylesheet" th:href="@{../css/resetPassword.css}" />
	<script>
		function checkPassword(event) {
			var password = document.getElementById("password").value;
			var confirmPassword = document.getElementById("confirm-password").value;
			var errorElement = document.getElementById("passwordError");

			if (password !== confirmPassword) {
				errorElement.textContent = "Passwords do not match";
				event.preventDefault(); // Prevent form submission by default
			} else {
				errorElement.textContent = "";
			}
		}
	</script>
</head>

<body>
	<div class="container">
		<h2>User Registration</h2>
		<form id="resetPass" action="/resetPassword" method="post">
			<div class="form-group">
				<label for="email">Email</label>
				<input type="email" name="email" id="email" th:value="${email}" readonly="readonly">
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" id="password" name="password" required>
			</div>
			<div class="form-group">
				<label for="confirm-password">Confirm Password</label>
				<input type="password" id="confirm-password" name="confirm-password" required
					onblur="checkPassword(event)">
				<span id="passwordError" style="color: red;"></span>
			</div>
			<button type="submit" class="btn-submit" onclick="checkPassword(event)">Submit</button>
		</form>
	</div>
</body>

</html>