body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	background-size: cover;
	background-position: center;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-image: url('../css/img-bg4.jpg');
}

.registration {
	width: 380px;
	background: rgb(192, 192, 192,0.8);
	padding: 40px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
	border-radius: 8px;
}
.form-box {
	text-align: center;
}

.toggle-btn {
	padding: 10px 20px;
	cursor: pointer;
	font-size: 18px;
	color: #fff;
	background: linear-gradient(to right, #FFB6C1, #87CEFA);
	border: none;
	border-radius: 25px;
	margin-bottom: 20px;
}

.input-group {
	text-align: left;
}
.input-field {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

.select-field {
	width: 100%;
	padding: 10px;
	margin-bottom: 15px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

#submitButton {
	width: 100%;
	padding: 10px;
	color: #fff;
	background: rgb(128, 0, 64,0.5);
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

#submitButton:disabled {
	background: #95a5a6;
	cursor: not-allowed;
}

.message {
	color: #2ecc71;
	margin-bottom: 15px;
}

.alert {
	background: #e74c3c;
	color: #fff;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 15px;
}

p {
	
	color: rgb(255, 255, 255);
	font-size: 15px;
}
a {
	color: rgb(128, 0, 128);
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
